.index{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a, a:active, a:visited{
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 25px;
}

a:hover{
    padding: 20px;
    background-color: rgb(255, 0, 157);
}

