@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
  to {
    transform: translateX(-25%);
  }
}
body{
  background-color: rgba(128, 0, 0, 0.25);
}

h1{
  text-align: center;
  text-decoration: underline;
  color: red;
}

h2{
  text-align: center;
  text-decoration: underline;
  color: green;
}

h3{
  text-align: center;
}

p{
    font-size: 1.1rem;
    text-align: center;
}

pre{
  text-align: center;
}

input{
  margin: 5px 0px;
}

.information{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.codepen-button {
  display: block;
  cursor: pointer;
  color: white;
  margin: 10px auto;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  overflow: hidden;
  padding: 3px;
  isolation: isolate;
}

.codepen-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
  background-size: 25% 100%;
  animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop .75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
}

.codepen-button:hover::before {
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

.codepen-button span {
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  background: #000;
  border-radius: 3px;
  height: 100%;
}

.accueil {
  background: #fff;
  border: none;
  padding: 10px 20px;
  display: block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  color: #000;
  margin: 30px auto ;
}

.accueil span {
  display: inline-block;
  transform: skew(21deg);
}

.accueil::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.accueil:hover {
  color: #fff;
}

.accueil:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}